# Core
Django>=4.2.20,<5.0  # Ensure compatibility with your project
python-dotenv>=1.0.1,<2.0
str2bool>=1.1,<2.0

# UI
django-admin-black>=1.0.8,<2.0

# Deployment
whitenoise>=6.6.0,<7.0
gunicorn>=23.0.0,<24.0

# Hot Reload
django-browser-reload>=1.12.1,<2.0
requests>=2.31.0,<3.0

# Additional Dependencies
asgiref>=3.8.1,<4.0
certifi>=2025.1.31,<2026.0.0
charset-normalizer>=3.4.1,<4.0
idna>=3.10,<4.0
packaging>=24.2,<25.0
sqlparse>=0.5.3,<1.0
tzdata>=2025.2,<2026.0
urllib3>=2.3.0,<3.0