{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark text-white"
    <div class="container-fluid">
        <div class="navbar-wrapper mx-auto">
            <a class="navbar-brand font-weight-bold" href="javascript:void(0)">{{ segment }}</a>
        </div>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
            aria-expanded="false" aria-label="Toggle navigation" style="border: none;">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
        </button>

        <div class="collapse navbar-collapse" id="navigation">
            <!-- Centered main menu -->
            <ul class="navbar-nav mx-auto">
                <li class="nav-item {% if segment == 'home' %}active{% endif %}">
                    <a class="nav-link text-light" href="{% url 'index' %}">
                        <i class="tim-icons icon-home-50 mr-1"></i>Strona główna
                    </a>
                </li>
                <li class="nav-item {% if segment == 'propose' %}active{% endif %}">
                    <a class="nav-link text-light" href="{% url 'propose' %}">
                        <i class="tim-icons icon-tap-01 mr-1"></i>Zaproponuj film
                    </a>
                </li>
                <li class="nav-item {% if segment == 'vote' %}active{% endif %}">
                    <a class="nav-link text-light" href="{% url 'vote' %}">
                        <i class="tim-icons"></i>Głosuj na filmy
                    </a>
                </li>
            </ul>

            <!-- Right side user menu -->
            <ul class="navbar-nav ml-auto">
                {% if request.user.is_authenticated %}
                <li class="nav-item mr-3">
                    <p class="nav-link mb-0 font-weight-500 text-light">
                        <i class="tim-icons icon-single-02 mr-1"></i>Cześć, {{ request.user.username }}!
                    </p>
                </li>
                {% endif %}

                <li class="dropdown nav-item">
                    {% if request.user.is_authenticated %}
                    <a href="javascript:void(0)" class="dropdown-toggle nav-link p-0 text-light" data-toggle="dropdown">
                        <div class="photo" style="width: 40px; height: 40px; border-radius: 50%; overflow: hidden; border: 2px solid rgba(255,255,255,0.3);">
                            <img src="{% static 'assets/img/profile_pic.png' %}" alt="Profile Photo" style="width: 100%; height: 100%; object-fit: cover;">
                        </div>
                        <b class="caret d-none d-lg-block"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right bg-dark">
                        <li class="nav-link px-3 py-2"><a href="javascript:void(0)" class="nav-item dropdown-item font-weight-500">Profil: <strong>{{ request.user.username }}</strong></a></li>
                        <li class="nav-link px-3 py-2"><a href="{% url 'propose' %}" class="nav-item dropdown-item">Zaproponuj film</a></li>
                        <li class="nav-link px-3 py-2"><a href="{% url 'vote' %}" class="nav-item dropdown-item">Głosuj na filmy</a></li>
                        {% if request.user.username == 'admin' %}
                        <li class="nav-link px-3 py-2"><a href="{% url 'admin' %}" class="nav-item dropdown-item text-danger">⚙️ Zarządzanie użytkownikami</a></li>
                        {% endif %}
                        <li class="dropdown-divider"></li>
                        <li class="nav-link px-3 py-2"><a href="{% url 'logout' %}" class="nav-item dropdown-item text-danger">Wyloguj się</a></li>
                    </ul>
                    {% else %}
                    <a href="{% url 'auth_signin' %}" class="nav-link px-3 py-2 text-light">
                        <i class="tim-icons icon-lock-open mr-1"></i>Zaloguj się
                    </a>
                    {% endif %}
                </li>
                {% if not request.user.is_authenticated %}
                <li class="nav-item ml-2">
                    <a href="{% url 'auth_signup' %}" class="nav-link px-3 py-2 text-light">
                        <i class="tim-icons icon-simple-add mr-1"></i>Zarejestruj się
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


